@model Starter.Models.BandModel
<div class="card">
  <div class="card-body">
      <p>ID : @Model.id</p>
      <p>Name : @Model.bandName</p>
      <p>Year Formed : @Model.yearFormed</p>
      <p>Active? : @Model.isActive</p>
      <p>Contact : @Model.contactEmail</p>
  </div>
</div>